.header {
    width: 100%;
    height: 1114px;
    background-color: #043E51;

    .navbar {
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: space-between;

        .navbar__img {
            display: flex;
            align-items: center;
            gap: 10px;
            
            img:hover {
                transform: scale(1.1);
            }

            h2 {
                color: $bg-py;
                font-size: 30px;
                font-weight: 700;
            }
        }

        .navbar__collection {
            display: flex;
            align-items: center;
            gap: 50px;

            a {
                color: $bg-color;
                font-size: $size;
                font-weight: 400;
            }
        }

        .navbar__btn button {
            width: 140px;
            height: 58px;
            border-radius: 25px;
            background-color: #145E76;
            color: $bg-py;
            font-size: $size;
            transition: .5s;

            &:hover {
                background-color: blue;
            }
        }
    }

    .hero {
        display: flex;
        align-items: center;

        .hero__btn button {
            background-color: #094556;
            color: $bg-py;
            font-size: 24px;
            width: 195px;
            height: 65px;
            border-radius: 30px;
            font-family: monospace;
            transition: .5s;

            &:hover {
                background-color: blue;
            }
        }

        .hero__title {
            
            h3 {
                font-size: 64px;
                color: $bg-py;
                max-width: 600px;
                margin-top: 40px;
                font-weight: 700;
            }

            p {
                color: #849499;
                margin-top: 30px;
                max-width: 500px;
                font-size: $size;

            }

            .btn {
                display: flex;
                align-items: center;
                gap: 50px;
                button {
                    margin-top: 50px;
                    background-color: #FFA63A;
                    width: 137px;
                    height: 61px;
                    border-radius: 25px;
                    color: $bg-py;
                    font-size: $size;
                    transition: .5s;

                    &:hover {
                        background-color: blue;
                    }
                }
            }
        }
    }
}